@font-face { /*правило для подключения и настройки шрифтов*/
    font-family: Montserrat; /*записываем семейство шрифта*/
    src:
        url("fonts/Montserrat-Light.woff2") format("woff2"), /*здесь ссылки на файлы со шрифтами, сначала подключаем woff2, потом woff*/
        url("fonts/Montserrat-Light.woff") format("woff"); 
    font-weight: 300; /*размер шрифта, который находится в подключаемых файлах*/
    font-style: normal; /*начертание шрифта*/
}

@font-face { /*правило для подключения и настройки шрифтов*/
    font-family: Montserrat; /*записываем семейство шрифта*/
    src:
        url("fonts/Montserrat-Regular.woff2") format("woff2"), /*здесь ссылки на файлы со шрифтами, сначала подключаем woff2, потом woff*/
        url("fonts/Montserrat-Regular.woff") format("woff"); 
    font-weight: 400; /*размер шрифта, который находится в подключаемых файлах*/
    font-style: normal; /*начертание шрифта*/
}

@font-face { /*правило для подключения и настройки шрифтов*/
    font-family: Montserrat; /*записываем семейство шрифта*/
    src:
        url("fonts/Montserrat-SemiBold.woff2") format("woff2"), /*здесь ссылки на файлы со шрифтами, сначала подключаем woff2, потом woff*/
        url("fonts/Montserrat-SemiBold.woff") format("woff"); 
    font-weight: 600; /*размер шрифта, который находится в подключаемых файлах*/
    font-style: normal; /*начертание шрифта*/
}

@font-face { /*правило для подключения и настройки шрифтов*/
    font-family: Montserrat; /*записываем семейство шрифта*/
    src:
        url("fonts/Montserrat-Bold.woff2") format("woff2"), /*здесь ссылки на файлы со шрифтами, сначала подключаем woff2, потом woff*/
        url("fonts/Montserrat-Bold.woff") format("woff"); 
    font-weight: 700; /*размер шрифта, который находится в подключаемых файлах*/
    font-style: normal; /*начертание шрифта*/
}

@font-face { /*правило для подключения и настройки шрифтов*/
    font-family: Prata; /*записываем семейство шрифта*/
    src:
        url("fonts/Prata-Regular.woff2") format("woff2"), /*здесь ссылки на файлы со шрифтами, сначала подключаем woff2, потом woff*/
        url("fonts/Prata-Regular.woff") format("woff"); 
    font-weight: 400; /*размер шрифта, который находится в подключаемых файлах*/
    font-style: normal; /*начертание шрифта*/
}
  
html { /*здесь стили для всего документа*/
    overflow-x: hidden;
    height: 100%; /*задаем высоту, чтобы документ занимал по высоте весь экран*/
}

.page__body {
    min-height: 100%; /*высота на весь экран*/
    display: flex; /*располагаем все содержимое в ряд*/
    flex-direction: column; /*и порядок в колонку*/
    justify-content: space-between; /*затем задаем отступ между элементами body. Это св-во и два предыдущих нужны, чтобы "прибить"подвал к низу сайта*/
    padding: 0; /*обнуляем внутренние отступы*/
    width: 100%; /*задаем ширину содержимого*/
    min-width: 340px; /*задаем минимальную ширину, если ширина экрана будет меньше, то контент не будет "ехать", а начнет пропорционально уменьшаться*/
    margin: 0 auto; /*обнуляем внешние отступы сверху и снизу и центрируем все содержимое*/
    background-color: #fff; /* цвет фона для всей страницы*/
    max-width: 1920px;/*укажем максимальную ширину*/
    margin: 0 auto 0 auto; /*отцентрируем и добавим отступ до следующего блока*/
}

.page__header {
    width: 100%;
    height: 900px;
    background-color:  #F4F4F4;  
    margin-bottom: 140px;      
}

.page__header-wrapper {
    max-width: 1920px;/*укажем максимальную ширину*/
    margin: 0 auto 0 auto; /*отцентрируем и добавим отступ до следующего блока*/
    height: 900px;
    background-color:  #F4F4F4;
}

.header__image--1 {
    position: relative;
    left: 970px;
    top: 0px;
    width: 950px;
    height: 900px;
}

.header__item--1 {
    position: absolute;
    width: 380px;
    height: 100px;
    left: auto;
    margin-left: 370px;
    top: 210px;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.header__item--2 {
    position: absolute;
    width: 911px;
    height: 90px;
    left: auto;
    margin-left: 370px;
    top: 340px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.55em;
    text-transform: uppercase;
}

.header__item--3 {
    left: auto;
}

.header__item--3_1 {
    position: absolute;
    top: 444px;
    font-family:'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 90px;
    letter-spacing: 0.55em;
    text-transform: uppercase;
    left: auto;
    margin-left: 370px;
}

.header__item--3_2 {
    position: absolute;
    top: 444px;
    left: auto;
    margin-left: 462px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.55em;
    text-transform: uppercase;
}

.header__item--4 {
    position: absolute;
    width: 380px;
    height: 56px;
    left: auto;
    margin-left: 370px;
    top: 574px;
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em; 
}

.header__button--1 a,
.header__button--1 a:visited{
    display: flex;/* Элемент ведет себя как блочный элемент и размещает свое содержимое в соответствии с моделью flexbox. */
    flex-direction: row;/* CSS-свойство flex-direction задает способ размещения flex-элементов в flex-контейнере, определяя главную ось и направление (нормальное или обратное). */
    justify-content: center;/* Свойство CSS justify-content определяет, как браузер распределяет пространство между элементами контента и вокруг них вдоль основной оси гибкого контейнера и встроенной оси контейнера сетки. */
    align-items: center;/* Свойство CSS align-items устанавливает значение align-self для всех прямых дочерних элементов как группы. Во Flexbox он управляет выравниванием элементов по поперечной оси. В макете сетки он управляет выравниванием элементов на оси блоков в пределах их области сетки. */
    position: absolute;
    width: 220px;
    height: 60px;
    border: 1px solid #222222;
    left: auto;
    margin-left: 370px;
    top: 676px;
    color: #222222;
    /* color: #222222; */
    /*ссылка поменяет цвет шрифта*/
    /* background-color: #222222; */
}



.header__button--1 a:hover, /*здесь пропишем состояния для ссылок в шапке*/
.header__button--1 a:focus,
.header__button--1 a:active {
    color: #FFFFFF; /*ссылка поменяет цвет шрифта*/
    background-color: #222222;
}

.header__button__text--1 {
    width: 121px;
    height: 17px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.header__links {
    text-decoration: none; 
}

.header__button__link--1 { 
    color:  #FFFFFF;
} 

.header__icon--1 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: auto;
    margin-left: 60px;
    top: 60px;
}

.header__icon--2 {
    position: absolute;
    width: 80px;
    height: 44px;
    left: auto;
    margin-left: 370px;
    top: 50px;
}

.header__social-networks {
    position: absolute;
    width: 150px;
    height: 24px;
    left: auto;
    margin-left: 718px;
    top: 60px;
}

.header__icons:hover svg path, /*здесь поменяем цвет иконки для состояний ссылок на соцсети.*/
.header__icons:active svg path,
.header__icons:focus svg path {
    fill: rgba(34, 34, 34, 0.5);; /*этим свойством мы можем поменять цвет иконки, если ее код записан в коде страницы*/
}

.header__icon--3 {
    float: left;
}

.header__icon--4 {
    float: left;
    margin-left: 30px;
    transform: translateY(25%);
}

.header__icon--5 {
    float: left;
    margin-left: 30px;
}

.page__main {
    position: static;
    width: 1920px;
    height: 100%;
    left: 0px;
}


/*-------------------------*/
.l-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 999;
    display: none;
}
.l-sidebar_inner {
    display: none;
    z-index: 1000;
}
.l-sidebar_inner_open {
    display: block;
}
/*-------------------------*/
.b-sidebar {
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;    
    width: 200px;
    max-width: auto;    
    box-sizing: border-box;    
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .3);
    background-color: #fff;
    z-index: 1000;    
    transition: left 0.5s ease-out;
}
.b-sidebar_open {
    display: block;
    transition: left 0.5s ease-out;
}
.b-sidebar .sidebar__close {
    position: absolute;
    top: 19px;
    left: 17px;
    z-index: 10;
    cursor: pointer;
    line-height: 1;
    font-size: 0;
}
/*-------------------------*/
.b-sandwich {
    position: absolute;
    top: 19px;
    left: 17px;
    z-index: 10;
    cursor: pointer;
    line-height: 1;
    font-size: 0;
}
/*-------------------------*/
