@font-face { /*правило для подключения и настройки шрифтов*/
    font-family: Montserrat; /*записываем семейство шрифта*/
    src:
        url("fonts/Montserrat-Light.woff2") format("woff2"), /*здесь ссылки на файлы со шрифтами, сначала подключаем woff2, потом woff*/
        url("fonts/Montserrat-Light.woff") format("woff"); 
    font-weight: 300; /*размер шрифта, который находится в подключаемых файлах*/
    font-style: normal; /*начертание шрифта*/
}

@font-face { /*правило для подключения и настройки шрифтов*/
    font-family: Montserrat; /*записываем семейство шрифта*/
    src:
        url("fonts/Montserrat-Regular.woff2") format("woff2"), /*здесь ссылки на файлы со шрифтами, сначала подключаем woff2, потом woff*/
        url("fonts/Montserrat-Regular.woff") format("woff"); 
    font-weight: 400; /*размер шрифта, который находится в подключаемых файлах*/
    font-style: normal; /*начертание шрифта*/
}

@font-face { /*правило для подключения и настройки шрифтов*/
    font-family: Montserrat; /*записываем семейство шрифта*/
    src:
        url("fonts/Montserrat-SemiBold.woff2") format("woff2"), /*здесь ссылки на файлы со шрифтами, сначала подключаем woff2, потом woff*/
        url("fonts/Montserrat-SemiBold.woff") format("woff"); 
    font-weight: 600; /*размер шрифта, который находится в подключаемых файлах*/
    font-style: normal; /*начертание шрифта*/
}

@font-face { /*правило для подключения и настройки шрифтов*/
    font-family: Montserrat; /*записываем семейство шрифта*/
    src:
        url("fonts/Montserrat-Bold.woff2") format("woff2"), /*здесь ссылки на файлы со шрифтами, сначала подключаем woff2, потом woff*/
        url("fonts/Montserrat-Bold.woff") format("woff"); 
    font-weight: 700; /*размер шрифта, который находится в подключаемых файлах*/
    font-style: normal; /*начертание шрифта*/
}

@font-face { /*правило для подключения и настройки шрифтов*/
    font-family: Prata; /*записываем семейство шрифта*/
    src:
        url("fonts/Prata-Regular.woff2") format("woff2"), /*здесь ссылки на файлы со шрифтами, сначала подключаем woff2, потом woff*/
        url("fonts/Prata-Regular.woff") format("woff"); 
    font-weight: 400; /*размер шрифта, который находится в подключаемых файлах*/
    font-style: normal; /*начертание шрифта*/
}

html { /*здесь стили для всего документа*/
    height: 100%; /*задаем высоту, чтобы документ занимал по высоте весь экран*/
}

.page__body {
    min-height: 100%; /*высота на весь экран*/
    display: flex; /*располагаем все содержимое в ряд*/
    flex-direction: column; /*и порядок в колонку*/
    justify-content: space-between; /*затем задаем отступ между элементами body. Это св-во и два предыдущих нужны, чтобы "прибить"подвал к низу сайта*/
    padding: 0; /*обнуляем внутренние отступы*/
    width: 100%; /*задаем ширину содержимого*/
    min-width: 340px; /*задаем минимальную ширину, если ширина экрана будет меньше, то контент не будет "ехать", а начнет пропорционально уменьшаться*/
    margin: 0 auto; /*обнуляем внешние отступы сверху и снизу и центрируем все содержимое*/
    background-color: #fff; /* цвет фона для всей страницы*/
}

.page__header {
    width: 1920px;
    height: 900px;
    top: 0px;
    left: 0px;
    background-color:  #F4F4F4;  
    margin-bottom: 140px;       
}

.header__image--1 {
    position: absolute;
    left: 975px;
    top: 0px;
    width: 950px;
    height: 900px;
}

.header__item--1 {
    position: absolute;
    width: 380px;
    height: 100px;
    left: 370px;
    top: 210px;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.header__item--2 {
    position: absolute;
    width: 911px;
    height: 90px;
    left: 370px;
    top: 340px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.55em;
    text-transform: uppercase;
}

.header__item--3 {
    width: 100%;
    left: 370px;
}

.header__item--3_1 {
    position: absolute;
    top: 444px;
    font-family:'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 90px;
    letter-spacing: 0.55em;
    text-transform: uppercase;
}

.header__item--3_2 {
    position: absolute;
    top: 444px;
    left: 462px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.55em;
    text-transform: uppercase;
}

.header__item--4 {
    position: absolute;
    width: 380px;
    height: 56px;
    left: 370px;
    top: 574px;
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em; 
}

.header__button--1{
    display: flex;/* Элемент ведет себя как блочный элемент и размещает свое содержимое в соответствии с моделью flexbox. */
    flex-direction: row;/* CSS-свойство flex-direction задает способ размещения flex-элементов в flex-контейнере, определяя главную ось и направление (нормальное или обратное). */
    justify-content: center;/* Свойство CSS justify-content определяет, как браузер распределяет пространство между элементами контента и вокруг них вдоль основной оси гибкого контейнера и встроенной оси контейнера сетки. */
    align-items: center;/* Свойство CSS align-items устанавливает значение align-self для всех прямых дочерних элементов как группы. Во Flexbox он управляет выравниванием элементов по поперечной оси. В макете сетки он управляет выравниванием элементов на оси блоков в пределах их области сетки. */
    position: absolute;
    width: 220px;
    height: 60px;
    left: 370px;
    top: 676px;
    background-color: #222222;
}

.header__button__text--1 {
    width: 121px;
    height: 17px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.header__links {
    text-decoration: none; 
}

.header__button__link--1 { 
    color:  #FFFFFF;
} 

.header__icon--1 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 60px;
    top: 60px;
}

.header__icon--2 {
    position: absolute;
    width: 80px;
    height: 44px;
    left: 370px;
    top: 50px;
}

.header__social-networks {
    position: absolute;
    width: 150px;
    height: 24px;
    left: 718px;
    top: 60px;
}

.header__icon--3 {
    float: left;
}

.header__icon--4 {
    float: left;
    margin-left: 30px;
    transform: translateY(25%);
}

.header__icon--5 {
    float: left;
    margin-left: 30px;
}

.page__main {
    position: static;
    width: 1920px;
    height: 100%;
    left: 0px;
   
    background-color: rgb(183, 180, 180);
}

.main__textbox--1 {
    
    
}

.main__text--1 {
    position: relative;
    width: 1000px;
    height: 136px;
    left: 50%;
    display: flex;/* Элемент ведет себя как блочный элемент и размещает свое содержимое в соответствии с моделью flexbox. */
    justify-content: center;/* Свойство CSS justify-content определяет, как браузер распределяет пространство между элементами контента и вокруг них вдоль основной оси гибкого контейнера и встроенной оси контейнера сетки. */ 
    align-items: center;/* Свойство CSS align-items устанавливает значение align-self для всех прямых дочерних элементов как группы. Во Flexbox он управляет выравниванием элементов по поперечной оси. В макете сетки он управляет выравниванием элементов на оси блоков в пределах их области сетки. */
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #222222;
    -ms-transform: translate(50%);/* центрирование кнопки по ширине */
    transform: translate(-50%);
    margin-bottom: 140px;   
}

.main__image--1 {
    position: relative;
    width: 1180px;
    height: 500px;
    left: 50%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #222222;
    -ms-transform: translate(50%);/* центрирование кнопки по ширине */
    transform: translate(-50%); /* центрирование кнопки по ширине */
    margin-bottom: 70px;   
}

.main__benefits {/*добавим стили для блока с инструкцией*/
    margin: 0 auto 131px auto; /*отцентрируем и добавим отступ до следующего блока*/
    max-width: 1180px;/*укажем максимальную ширину*/
    margin-bottom: 140px; 
}

.benefits__list {/*стили для списка этапов инструкции*/
    list-style: none; /*отключим маркеры у списка*/
    margin: 10px auto 51px;/*дадим списку отступы сверху и снизу и отцентрируем*/
    padding: 0;/*обнулим внутренние отступы*/
    display: flex; /*расположим элементы в ряд*/
    flex-wrap: wrap; /*если будет слишком много пунктов, то пускай они переносятся на новую строку*/
    column-gap: 20px; /*расстояние между пунктами*/
}

.benefits__item { /*стили для пункта инструкции*/
    width: 180px; /*у них одинаковая ширина*/
    position: relative; /*понадобится для добавления псевдоэлемента*/
    margin: 0 auto; /*укажем стандартные отступы центрирования*/
}

.benefits__title { /*для заголовка этапа инструкции*/
    text-align: center;
    margin: 0 auto 20px;
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #222222;
}

.benefits__text { /*и для самого текста инструкции*/
    text-align: center;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
}

h2 { /*меняются св-ва шрифта и отступ у загловков h2*/
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 70px;
}

.main__portfolio {
    max-width: 1180px;/*укажем максимальную ширину*/
    margin: 0 auto 140px auto; /*отцентрируем и добавим отступ до следующего блока*/
}

.portfolio__list {/*стили для списка этапов инструкции*/
    list-style: none; /*отключим маркеры у списка*/
    margin: 0; /*обнулим внешние отступы*/
    padding: 0; /*и внутренние*/
    display:flex; /*расположим элементы в ряд*/
    flex-wrap:wrap; /*если будет слишком много пунктов, то пускай они переносятся на новую строку*/
    column-gap: 20px;/*расстояние между пунктами*/
}

.portfolio__image-wrapper {
    margin-bottom: 20px; 
}

.portfolio__image--3 {
    margin-top: -220px;
}

.portfolio__image--7 {
    margin-top: -220px;
}

.main__reviews {
    max-width: 1180px;/*укажем максимальную ширину*/
    margin: 0 auto 140px auto; /*отцентрируем и добавим отступ до следующего блока*/
}

.reviews__list {/*стили для списка этапов инструкции*/
    list-style: none; /*отключим маркеры у списка*/
    display:flex; /*расположим элементы в ряд*/
    flex-wrap:wrap; /*если будет слишком много пунктов, то пускай они переносятся на новую строку*/
    column-gap: 60px;/*расстояние между пунктами*/
}

.reviews__item { /*стили для пункта инструкции*/
    display:block; /*расположим элементы в ряд*/
    flex-wrap:wrap; /*если будет слишком много пунктов, то пускай они переносятся на новую строку*/
}

.reviews__image-wrapper {
    
}

.reviews__block-wrapper {
    width: 340px;
    height: 64px;
    margin-bottom: 20px;
}

.reviews__images {
    float: left;
    width: 60px;
    height: auto;
}

.reviews__description-wrapper {
    float: left;
    width: 260px;
    padding: 0;
    margin-left: 20px;
}

.reviews__title {
    margin: 0; /*обнулим внешние отступы*/
    padding: 4px; /*и внутренние*/
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #222222;
}

.reviews__age {
    margin: 0; /*обнулим внешние отступы*/
    padding: 4px; /*и внутренние*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.reviews__text {
    width: 340px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #666666; 
    padding-bottom: 50px;
}

.main__prices {
    width: 1920px;
    /* height: 100%; */
    height: 760px;
    background-color:  #F4F4F4;  
    /* padding-bottom: -150px; */
    /* margin-bottom: -250px;        */
    
    
}

.prices__images {
    /* position: relative; */
    float: right;
    width: 950px;
    height: 760px;
    left: 970px;
    top:-210px;
    /* padding: 0; */
    
    
}

.prices__textboxes {
    float: left;
    /* position: relative; */
    width: 490px;
    /* left: 370px;
    top: 100px; */
    margin: 100px auto auto 370px;
    background-color: rgb(86, 113, 113);    
}

.prices__title--1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #222222;
    background-color: aqua;
}

.prices__text--1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #666666;
    background-color: forestgreen;
}



.prices__list {
    position: absolute;
    /* margin-top: -500px; */
    /* position: relative; */
    /* clear: both; */
    /* float: left; */
    width: 1180px;
    padding: 0;
    /* margin: 0; */
    /* text-align: center; */
    list-style: none; /*отключим маркеры у списка*/
    display:flex; /*расположим элементы в ряд*/

    /* flex-direction: row;
    justify-content: center;
    align-items: center; */

    flex-wrap:wrap; /*если будет слишком много пунктов, то пускай они переносятся на новую строку*/
    column-gap: 20px;/*расстояние между пунктами*/
    background-color: aqua;
    /* margin: 0 auto;  */
    /* bottom: 2px; */
    margin-top: 400px;
    left: 370px;
    /* transform: translateX(33%); */
    
    /* transform: translate(-50%); */
   
}

.prices__item {
    /* position: relative; */
    width: 280px;
    height: 260px;
    display:block; /*расположим элементы в ряд*/
    flex-wrap:wrap; /*если будет слишком много пунктов, то пускай они переносятся на новую строку*/
    background-color: blue;
    padding: 0;
}

.prices__icons {
    width: 60px;
    height: 60px;
   
    margin-bottom: 29px;
    margin-top: 40px;
}


.prices__icon-wrapper {
    position: relative;
    padding: 0;
    width: 60px;
    background-color: aquamarine;
    left: 50%;
    -ms-transform: translate(50%);/* центрирование кнопки по ширине */
    transform: translate(-50%); /* центрирование кнопки по ширине */
   
}

.prices__title {
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
    
}

.prices__cost {
    padding: 0;
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #222222;
    
}





.page__footer {
    position: absolute;
    width: 100%;
    height: 140px;
    left: 0px;
    background: #FFFFFF;
    
    
}

.footer__items {
    position: absolute;
    height: 18px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #999999; 
    top: 50%;                      
    transform: translate(0, -50%);/* центрирование по горизонтели 1*/
}

.footer__item--1 {
    left: 370px;
}

.footer__item--2 {
    left: 670px;
}

.footer__item--3 {
    left: 1270px;
}

html, 
body { /* табличный способ фиксирования подвала - таблица будет подстраивать свои размеры под ее содержание 1 */
    height: 100%;
}

.page__body { /* фиксирование подвала 2 */
    display: table;
    height: 100%;
}

.page__mane { /* фиксирование подвала 3 */
    display: table-row;
    height: 100%;
}









